@media(max-width:991px){
  h1 {
    font-size: 20px !important;
  }
  .cart-text09 {
    font-size: 20px !important;
  }
  .cart-text10 {
    font-size: 20px !important;
  }
  .cart-button {
    font-size: 10px !important;
  }
  .cart-container11 {
    width: 20% !important;
  }
  .cart-container10 {
    width: 20% !important;
  }
  .input {
    padding: 0px !important;
  }
}

.cart-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cart-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dl-color-template-blue-bg);
}
.cart-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cart-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-icon {
  fill: var(--dl-color-template-blue-bg);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.cart-text01 {
  color: var(--dl-color-template-blue-bg);
  font-size: 3em;
}
.cart-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cart-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1000px;
  align-items: center;
  border-color: var(--dl-color-template-blue-bg);
  border-width: 1px;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.cart-text02 {
  color: #1c1c1c;
  width: 50%;
  font-size: 25px;
  text-align: left;
}
.cart-text03 {
  color: #1c1c1c;
  width: 10%;
  font-size: 25px;
}
.cart-text04 {
  color: #1c1c1c;
  width: 10%;
  font-size: 25px;
}
.cart-text07 {
  color: #1c1c1c;
  width: 30%;
  font-size: 25px;
  text-align: right;
}
.cart-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.cart-container07 {
  flex: 0 0 auto;
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cart-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.cart-container08 {
  flex: 0 0 auto;
  width: calc(100% - 100px);
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cart-text08 {
  color: #1c1c1c;
  font-style: normal;
  font-weight: 400;
  padding-bottom: var(--dl-space-space-halfunit);
}
.cart-button {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  transition: 0.3s;
  border-width: 0px;
  padding-left: 3rem;
  border-radius: 20px;
  padding-right: 3rem;
  background-color: rgb(0, 0, 0);
}
.cart-button:hover {
  color: #ffffff;
  background-color: var(--dl-color-template-blue-bg);
}
.cart-container09 {
  flex: 0 0 auto;
  width: 10%;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-template-blue-bg);
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.cart-text09 {
  color: #1c1c1c;
  font-size: 1.75em;
}
.cart-container10 {
  flex: 0 0 auto;
  width: 10%;
  height: 100px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-color: var(--dl-color-template-blue-bg);
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.cart-textinput {
  width: 100%;
  align-self: center;
  text-align: center;
}
.cart-container11 {
  flex: 0 0 auto;
  width: 30%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  border-color: var(--dl-color-template-blue-bg);
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.cart-text10 {
  color: #1c1c1c;
  font-size: 1.75em;
}
.cart-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 1000px;
  align-items: center;
  justify-content: flex-end;
}
.cart-text11 {
  color: #1c1c1c;
  font-style: normal;
  font-weight: 400;
  margin-right: var(--dl-space-space-unit);
}
.cart-text12 {
  color: #1c1c1c;
  font-size: 1.75em;
}
.cart-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  justify-content: flex-end;
}
.cart-button1 {
  color: rgb(255, 255, 255);
  font-size: 1em;
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-threeunits);
  background-color: rgb(0, 0, 0);
}
.cart-button1:hover {
  color: #ffffff;
  background-color: var(--dl-color-template-blue-bg);
}
.cart-button2 {
  color: rgb(255, 255, 255);
  font-size: 1em;
  border-width: 0px;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-threeunits);
  background-color: rgb(0, 0, 0);
}
.cart-button2:hover {
  color: #ffffff;
  background-color: var(--dl-color-template-blue-bg);
}
