.products-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.products-container1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
}

@keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }
 

@media(max-width:991px){
  .products-container2 {
    float: left;
/*    width: 100%;*/
    height: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    align-items: flex-start;
    border-color: rgba(120, 120, 120, 0.4);
    border-style: dashed;
    border-width: 0px;
    justify-content: flex-start;
  }
}

.products-container2 {
  float: left;
/*  width: 100%;*/
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  justify-content: flex-start;
}
.products-container3 {
  flex: 0 0 auto;
  width: 270px;
  height: auto;
  margin: var(--dl-space-space-twounits);
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.products-container3:hover {
  transform: scale(1.02);
}
.products-image {
  width: 270px;
  height: 270px;
  object-fit: cover;
}
.products-text {
  font-size: 1.75em;
  align-self: flex-start;
}
.products-text1 {
  width: 100%;
  font-size: 1.5em;
}
.products-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  justify-content: center;
}
.products-button {
  color: #ffffff;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  transition: 0.3s;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  background-color: #000000;
}
.products-button:hover {
  color: #ffffff;
  transform: scale(1.02);
  background-color: var(--dl-color-template-blue-bg);
}
.products-text2 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.products-text3 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.products-text4 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.products-text5 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.products-button1 {
  color: #ffffff;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  border-width: 0px;
  background-color: #000000;
}
.products-button1:hover {
  color: #ffffff;
  transform: scale(1.02);
  background-color: var(--dl-color-template-blue-bg);
}
