<div>
  <link href="./schedule.css" rel="stylesheet" />
  <div class="schedule-schedule card">
    <img
      alt="pastedImage"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/39622a11-b838-43d2-9bdc-3ba79420cf0d/3550b2ef-9fa5-4847-8833-c091ca4a08ef?org_if_sml=11142"
      class="schedule-icon"
    />
    <span class="schedule-text"><span>Schedule</span></span>
    <span class="schedule-text1">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
      </span>
    </span>
    <div>Placeholder for widget timer</div>
  </div>
</div>
