<div>
  <link href="./testimonal.css" rel="stylesheet" />
  <div class="testimonal-testimonal testimonal">
    <span class="testimonal-text">
      <span>
        "Pellentesque sodales libero nulla, ac imperdiet ante tincidunt vel.
        Fusce auctor augue sed massa finibus, et dictum sem mollis. In luctus.”
      </span>
    </span>
    <div class="testimonal-author">
      <div class="testimonal-avatar">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGdpcmx8ZW58MHx8fHwxNjY0ODA5MjE1&ixlib=rb-1.2.1&w=200"
          class="testimonal-image"
        />
      </div>
      <div class="testimonal-user">
        <span class="testimonal-name"><span>Andy Smith</span></span>
        <span class="testimonal-divider">—</span>
        <span class="testimonal-from"><span>Vista Social</span></span>
      </div>
    </div>
  </div>
</div>
